root = "."
testdata_dir = "testdata"
tmp_dir = "tmp"

[build]
  cmd = "go build -buildvcs=false -ldflags='-s -w' -o ./tmp/main ."
  bin = "./tmp/main"

  delay = 1000

  exclude_dir = [
      "assets",
      "tmp",
      "vendor",
      "testdata",
      ".devcontainer",
      ".cursor",
      ".github",
      ".idea",
      ".vscode",
      "docker",
      "docs",
      "node_modules",
      ".git"
  ]
  exclude_file = []
  exclude_regex = ["_test.go"]
  exclude_unchanged = true
  follow_symlink = false
  include_ext = ["go", "tpl", "tmpl", "html", "env", "toml"]
  kill_delay = "0s"
  log = "build-errors.log"
  send_interrupt = false
  stop_on_error = true

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  main_only = false
  time = true

[misc]
  clean_on_exit = true

[screen]
  clear_on_rebuild = true
  keep_scroll = true