---
networks:
  base:
    driver: bridge
services:
  dickobrazz:
    build:
      context: .
      dockerfile: Dockerfile
    command: ["/usr/local/bin/dickobrazz"]
    container_name: dickobrazz-bot
    cpus: '0.25'
    env_file: [ .env ]
    environment:
      BOT_CSOT: ${BOT_CSOT}
      BOT_SERVER_BASE_URL: ${BOT_SERVER_BASE_URL}
      TELEGRAM_TOKEN: ${TELEGRAM_TOKEN}
      TELEGRAM_ENV: ${TELEGRAM_ENV}
      TZ: ${TZ}
    healthcheck:
      interval: 30s
      retries: 3
      start_period: 40s
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:8080/health"]
      timeout: 10s
    logging:
      driver: local
      options:
        max-file: '3'
        max-size: 10m
    mem_limit: 256m
    mem_reservation: 64m
    networks: [ base ]
    ports: [ "8090:8090" ]
    restart: unless-stopped
