---
networks:
  base:
    driver: bridge
services:
  dickobrazz:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile.dev
    cap_add: [ "SYS_PTRACE" ]
    command: ["sleep", "infinity"]
    container_name: dickobrazz-dev
    extra_hosts:
      - "host.docker.internal:host-gateway"
    env_file: [ devcontainer.env ]
    environment:
      DD_DB_HOST: dickobrazz-mongo
      BOT_SERVER_BASE_URL: "http://host.docker.internal:3030/"
    networks: [ base ]
    ports: [ "8090:8090" ]
    security_opt: [ "seccomp:unconfined" ]
    volumes:
      - ..:/workspace:cached
      - go-modules:/go/pkg/mod
      - go-build-cache:/home
volumes:
  go-modules:
  go-build-cache:
